---
http_interactions:
- request:
    method: get
    uri: http://careers.stackoverflow.com/jobs/feed?location=San%20Francisco,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml; charset=utf-8
      X-Request-Guid:
      - 4261bd2b-4999-41a3-8386-caa2377dd9bd
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" encoding="utf-8"?><rss xmlns:a10="http://www.w3.org/2005/Atom"
        version="2.0"><channel xmlns:os="http://a9.com/-/spec/opensearch/1.1/"><title>jobs
        within 20 km of San Francisco, CA - Stack Overflow Careers</title><link>http://careers.stackoverflow.com/jobs</link><description>jobs
        within 20 km of San Francisco, CA - Stack Overflow Careers</description><os:totalResults>211</os:totalResults><item><guid
        isPermaLink="true">http://stackoverflow.com/jobs/109238/full-stack-developer-marketplace-atlassian</guid><link>http://stackoverflow.com/jobs/109238/full-stack-developer-marketplace-atlassian</link><a10:author><a10:name>Atlassian</a10:name></a10:author><category>jquery</category><category>backbone.js</category><category>rest</category><category>json</category><category>javascript</category><title>Full
        Stack Developer - Marketplace at Atlassian (San Francisco, CA)</title><description>&lt;p&gt;&lt;strong&gt;Job
        Description&lt;/strong&gt;&lt;/p&gt;&lt;br /&gt;&lt;p&gt;Are you an innovative
        and talented engineer with a love of front-end technologies and functional
        programming?&lt;/p&gt;&lt;br /&gt;&lt;p&gt;Are you interested [...]
- request:
    method: get
    uri: http://stackoverflow.com/jobs/feed?location=San%20Francisco,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml; charset=utf-8
      X-Request-Guid:
      - 1096418c-b7e2-417c-8978-381b1c076f1d
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" encoding="utf-8"?><rss xmlns:a10="http://www.w3.org/2005/Ato[...]
